<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726900179362-qv3co7klha151k9ovs35r39n54s0mduo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726900179362-qv3co7klha151k9ovs35r39n54s0mduo</string>
	<key>API_KEY</key>
	<string>AIzaSyAJoPijCqaWUT-GV33DEzr0ght7XNSeRVs</string>
	<key>GCM_SENDER_ID</key>
	<string>726900179362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karendev.bikes</string>
	<key>PROJECT_ID</key>
	<string>bikes-9bece</string>
	<key>STORAGE_BUCKET</key>
	<string>bikes-9bece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726900179362:ios:94a702c84094a279d9b2fb</string>
</dict>
</plist>